@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  cursor: none; 
}
:root{
  scroll-behavior: smooth;
  cursor: none; 
}

#clickable{
  cursor: none; 
}

button, a{
  cursor: none;  
}

.bg-trans{
  background-color: transparent;
}

.light-mode {
  --background: 236,236,236, 1;
  --border: 212, 212, 212, 1;

  --card-primary-top: 237,237,237, 1;
  --card-primary-bottom: 209,209,209, 1;
  --card-primary-border: 185,185,185, 1;

  --card-secondary: 106,118,146, 1;

  --color-primary: 14, 42, 113, 1; 
  --color-secondary: 38,38,38, 1;
  --color-tertiary:  121, 120, 120, 1;

  --color-green: 53,199,90, 1;
  --color-red: 255,59,47, 1;
  --color-yellow: 255,204,0, 1;
  --color-blue:162,222,246;

  --color-primary-shadow: 14, 42, 113, 0.5; 
  --color-green-shadow: 53,199,90, 0.5;
  --color-red-shadow: 255,59,47 0.5;
  --color-yellow-shadow: 255,204,0, 0.5;
  --color-blue-shadow: 162,222,246 0.5; 

  --normal-shadow: 99,100,100,0.4;

  --color-polaroid: 255,255,255;
  
  --border-primary:41, 126, 255, 1;
  --border-green: 111, 204, 37, 1;
  --border-red:204, 37, 37, 1;
  --border-yellow:255, 241, 41, 1;

  --default-button: 14, 42, 113, 1; 
  --button-text:236,236,236, 1;

  background: rgba(var(--background));
}


.dark-mode {
  --background: 50, 50, 50, 1;
  --border: 38, 38, 38, 1;

  --card-primary-top: 80,78,80, 255;
  --card-primary-bottom: 65, 63, 64, 255;
  --card-primary-border: 25, 25, 25, 255;
  
  --card-secondary: 106,118,146, 1;

  --color-primary: 64,198,223, 1;
  --color-secondary: 247, 249, 255, 1;
  --color-tertiary: 177, 177, 177, 1;

  --color-primary-shadow: 64,198,223, 0.5;

  --color-green: 47,209,88, 1;
  --color-red: 255,60,68, 1;
  --color-yellow: 255,214,10, 1;
  --color-blue: 16, 86, 156; 

  --color-green-shadow: 47,209,88, 0.5;
  --color-red-shadow: 255,60,68, 0.5;
  --color-yellow-shadow: 255,214,10, 0.5;
  --color-blue-shadow: 16, 86, 156, 0.5; 

  --normal-shadow: 227,227,228,0.4;

  --color-polaroid: 255,255,242;

  --border-primary:41, 126, 255, 1;
  --border-green: 111, 204, 37, 1;
  --border-red:204, 37, 37, 1;
  --border-yellow:255, 241, 41, 1;

  --default-button: 106, 118, 146, 1;
  --button-text: 50, 50, 50, 1;

  background: rgba(var(--background));
}


.mask-container {
  position: relative;
  display: inline-block;
}

.mask-letter {
  font-size: 100px;
  font-weight: bold;
  color: blue;
  position: relative;
  z-index: 2;
}

.mask-circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
}

.mask-cover {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 3;
  mix-blend-mode: screen;
}

#cursor-pointer{
  mix-blend-mode: difference;
}

.red-shadow {
  box-shadow: 0 0 15px red;
}

/* Gradient */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @property --color-a {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
  @property --color-b {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
  @property --color-c {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
}

@keyframes blob {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    rotate: 40deg;
  }
  50% {
    transform: translate(300px, 390px) scale(1.1);
  }
  80% {
    rotate: 90%;
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}


/* Custom Chat Bot Styles */
.react-chatbot-kit-chat-container {
  @apply bg-card-primary-top text-black font-inter w-[700px];
}
.react-chatbot-kit-chat-header {
  @apply bg-transparent text-lg text-color-primary;
}

.react-chatbot-kit-chat-inner-container {
  @apply p-4 bg-card-primary-bottom; 
}

.react-chatbot-kit-chat-btn-send {
  @apply bg-color-primary; 
}

.react-chatbot-kit-chat-input {
  @apply font-inter rounded-lg;
}

.react-chatbot-kit-chat-input-container {
  @apply bg-color-primary rounded-lg;
}

.react-chatbot-kit-error-container {
  @apply text-red-500 bg-red-100; 
}

.react-chatbot-kit-chat-message-container {
  @apply w-full;
}

.react-chatbot-kit-chat-bot-message {
  @apply w-full;
}



/* Custom Timeline Styles */
.vertical-timeline::before {
  background: rgba(var(--color-primary));
}

.vertical-timeline .vertical-timeline-element-icon {
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 50%;
  border: 4px solid rgba(var(--color-primary));
}

.vertical-timeline .vertical-timeline-element-icon:hover {
  box-shadow: 0 0 25px 15px rgba(var(--color-primary), 0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.vertical-timeline-element-content {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px; 
}

.timeline-date {
  font-weight: bold;
  font-size: 16px; 
}

/* MavBar Shadow */
.navbar-shadow {
  --tw-shadow: 0 25px 50px -12px rgba(var(--background))
  --tw-shadow-colored: 0 25px 50px -12px var(--background);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(var(--background))), var(--tw-ring-shadow, 0 0 rgba(var(--background))), var(--tw-shadow);
}


/* Hero Image Shadow */
/* .shadow-image {
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.7));
} */

#floating {
  position: relative;
  animation: float 6s ease-in-out infinite;
  transition: transform 0.3s ease-in-out;
}

@keyframes float {
  0%, 100% {
    /* transform: translateY(0); */
  }
  50% {
    transform: translateY(-20px);
  }
}




/* DarkMode.css or a dedicated CSS file */
.hamburger-menu {
  transition: all 0.3s ease; /* Smooth transition for the menu */
}

.hamburger-icon {
  transition: transform 0.3s ease; /* Smooth transform for the hamburger icon */
}

.hamburger-icon.open {
  transform: rotate(45deg); /* Rotate to X when open */
}

.hamburger-icon.close {
  transform: rotate(0); /* Reset to normal when closed */
}

.menu-links {
  opacity: 0; /* Hidden initially */
  transform: translateY(-20px); /* Start above */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.menu-links.open {
  opacity: 1; /* Show when open */
  transform: translateY(0); /* Move to original position */
}

.scroll-to-top {
  transition: transform 0.3s ease; /* Smooth transition for the scroll button */
}

.scroll-to-top:hover {
  transform: scale(1.1); /* Scale on hover */
}




.homepage, .navBarThing {
  zoom: 1; /* Default zoom */
}


@media (max-width: 1700px) {
  .homepage, .navBarThing {
    zoom: 0.9; 
  }
}

/* For screens up to 1600px */
@media (max-width: 1600px) {
  .homepage, .navBarThing {
    zoom: 0.8;
  }
}

@media (max-width: 1400px) {
  .homepage, .navBarThing {
    zoom: 0.7; 
  }
}

@media (max-width: 1200px) {
  .homepage, .navBarThing {
    zoom: 0.6; 
  }
}


/* Reset zoom for mobile devices */
@media (max-width: 768px) {
  .homepage, .navBarThing {
    zoom: 1; /* Reset to normal */
  }
}





