@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  scroll-behavior: smooth;
  cursor: none; 
}

button, a{
  cursor: none;  
}

.light-mode {
  --background: 245, 245, 245;
  --border: 212, 212, 212;
  --card: 240,236,236;

  --copy-primary: 34,67,120,255;
  --copy-secondary: 115, 115, 115;

  background: rgba(var(--background));
}

.bg-trans{
  background-color: transparent;
}

.dark-mode {
  --background: 17, 17, 17;
  --border: 38, 38, 38;
  --card: 18, 37, 68;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  background: rgba(var(--background));
}


.mask-container {
  position: relative;
  display: inline-block;
}

.mask-letter {
  font-size: 100px;
  font-weight: bold;
  color: blue;
  position: relative;
  z-index: 2;
}

.mask-circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 1;
}

.mask-cover {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 3;
  mix-blend-mode: screen;
}

#cursor-pointer{
  mix-blend-mode: difference;
}

.red-shadow {
  box-shadow: 0 0 15px red;
}



